<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Race:</strong>
  <%= @pet.race %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @pet.birthdate %>
</p>


<tbody>
  <strong>Pesos</strong>
  <br>
  <% @pet.pet_histories.each do |historial| %>
    <tr>
      <td><%= historial.weight %></td>
    </tr>
  <% end %>
<br>
<br>
  <strong>Altura</strong>
  <br>
  <% @pet.pet_histories.each do |historial| %>
    <tr>
      <td><%= historial.heigth %></td>
    </tr>
  <% end %>
</tbody>
<br>
<br>
<strong>Historial de diagnosticos:</strong>
  <br>
  <% @pet.pet_histories.each do |historial| %>
    <tr>
      <li><%= historial.description %></li>
    </tr>
  <% end %>
  <br>
<table>
  <thead>
    <tr>
      <th>Peso promedio</th>
      <th>Altura promedio</th>
      <th>Peso Máximo</th>
      <th>Altura Máxima</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @pet.avg_weight %></td>
      <td><%= @pet.avg_height %></td>
      <td><%= @pet.max_weight %></td>
      <td><%= @pet.max_height%></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_pet_pet_history_path(@pet.id) %> |
<%= link_to 'Back', root_path %>
<%= link_to 'New registro', new_pet_pet_history_path(@pet.id)  %>
