<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @client.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Information Pets:</strong>
  <%= @client.pets_registration %>
</p>

<table>
<thead>
  <tr>
    <th>Name</th>
    <th>Max weight</th>
    <th>Max height</th>
  </tr>
</thead>

<tbody>
  <% @client.pets.each do |pet| %>
    <tr>
      <td><%= pet.name %></td>
      <td><%= pet.max_weight %></td>
      <td><%= pet.max_height %></td>
    </tr>
  <% end %>
</tbody>
</table>
  


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
